name: Exportar Excel y subir a Release

on:
  schedule:
    - cron: '0,30 15-23 * * *'  # Todos los días de 9:00 a 17:30 CDMX (15:00–23:30 UTC)
    - cron: '0 0 * * *'         # 18:00 CDMX (00:00 UTC)
    - cron: '30 0 * * *'        # 18:30 CDMX
    - cron: '0 1 * * *'         # 19:00 CDMX
    - cron: '30 1 * * *'        # 19:30 CDMX
    - cron: '0 2 * * *'         # 20:00 CDMX
    - cron: '30 2 * * *'        # 20:30 CDMX
  workflow_dispatch:

jobs:
  exportar_y_subir:
    runs-on: ubuntu-latest

    steps:
      - name: Verificar ejecución
        run: |
          echo "Hora UTC:   $(date -u)"
          echo "Hora CDMX:  $(TZ=America/Mexico_City date)"

      - name: Clonar repo
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy requests openpyxl google-auth google-api-python-client

      - name: Ejecutar script
        run: python script_mercado610palenque.py

      - name: Crear Release (forzar reemplazo)
        uses: softprops/action-gh-release@v1
        with:
          tag_name: auto
          name: Actualización automática
          body: Base limpia generada automáticamente
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Subir archivo Excel a la Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: auto
          files: Respuestas_610.xlsx
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

